* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
}

body h1 {
  text-align: center;
}

body ul {
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

body ul li {
  margin: 0 10px;
}

body a {
  text-decoration: none;
  color: black;
}

